header section {
    display: flex;
    justify-content: space-between;
}

#timer {
    display:flex;
    flex-direction: row;
}

#start-screen {
    display: flex;
    align-items: center;
    flex-direction: column;
}



#question-screen {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#answers{
    display:flex;
    align-items: center;
    flex-direction: column;
}

#answers button{
    max-width: fit-content;
    margin: 15px;
}